<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../polymer/lib/utils/import-href.html">
<link rel="import" href="../polymer/lib/utils/render-status.html">
<link rel="import" href="od-component-loader-item.html">

<dom-module id="od-component-loader">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
            }

            #components-container {
                display: none;
            }

            #content-container {
                display: block;
                width: 100%;
                height: 100%;
            }
        </style>

        <div id='components-container'>
            <slot></slot>
        </div>
        <div id="content-container"></div>

    </template>
    <script>
        Polymer( {

            is: 'od-component-loader',

            properties: {
                loadComponentClass: {
                    type: String,
                    observer: 'loadContentClass',
                    notify: true
                },

                components: {
                    type: Array
                }

            },

            ready: function() {
                this.addEventListener( 'od-route-change', this.routeChange );
                this.buildComponentsAndContent();
            },

            routeChange: function( e ) {
                this.loadComponentClass = e.detail.route;
            },

            buildComponentsAndContent: function() {
                this.components = this.shadowRoot
                    .querySelector( 'slot' )
                    .assignedNodes( {
                        flatten: true
                    } )
                    .filter( n => n.nodeType === Node.ELEMENT_NODE && n.tagName.toLowerCase() ===
                        'od-component-loader-item' );

                for ( var i = 0; i < this.components.length; i++ ) {
                    var component = this.components[ i ];
                    var newTagName = component.newTagName;
                    if ( newTagName !== null && newTagName !== undefined ) {
                        var newElement = document.createElement( newTagName );
                        this.shadowRoot.querySelector( '#content-container' ).appendChild( newElement );
                    }
                }
                this.loadContentClass();
            },

            loadContentClass: function() {
                if ( this.loadComponentClass === undefined || this.loadComponentClass === null || this.components ===
                    undefined || this.components === null ) {
                    return;
                }
                this.hideAll();

                for ( var i = 0; i < this.components.length; i++ ) {
                    var component = this.components[ i ];
                    var containsClass = component.className.includes( this.loadComponentClass );
                    if ( !containsClass ) {
                        continue;
                    }
                    var componentPath = component.componentPath;
                    if ( componentPath === null || componentPath === undefined ) {
                        continue;
                    }
                    this.importElement( componentPath );
                    var tagName = component.newTagName;
                    this.showRelated( tagName );
                }

            },

            importElement: function( componentPath ) {
                Polymer.importHref( componentPath,
                    null,
                    function() {
                        console.log( 'error loading component: ', componentPath );
                    },
                    true );
            },

            showRelated: function( tagName ) {
                var contentContainer = this.shadowRoot.querySelector( '#content-container' );
                var content = contentContainer.childNodes;
                for ( var i = 0; i < content.length; i++ ) {
                    var item = content[ i ];
                    var elemName = item.nodeName.toLowerCase();
                    if ( elemName === tagName ) {
                        item.style.display = 'block'
                    }
                }
            },


            hideAll: function() {
                var contentContainer = this.shadowRoot.querySelector( '#content-container' );
                var content = contentContainer.childNodes;

                for ( var i = 0; i < content.length; i++ ) {
                    var item = content[ i ];
                    item.style.display = 'none';
                }

            }

        } );
    </script>
</dom-module>