<link rel="import" href="../polymer/polymer.html">

<dom-module id="od-component-loader-item">
    <template>
        <style>
        </style>
    </template>
    <script>

        Polymer({

            is: 'od-component-loader-item',

            properties: {

                componentPath: {
                    type: String
                },

                newTagName: {
                    type: String
                }

            }
            
        });

    </script>
</dom-module>